<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    {% load static %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <form action="/survey" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Your Name: </label>
            <input type="text" name="name" id="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="location">Dojo Location:</label>
            <select name="location" id="location" class="form-control">
                {% for loc in locations %}
                <option value="{{ loc }}">{{ loc }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="language">Favorite Language: </label>
            <select name="language" id="language" class="form-control">
                {% for lang in languages %}
                <option value="{{ lang }}">{{ lang }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            {% for gen in genders %}
            <label for="gender" >{{ gen }}</label>
            <input type="radio" value="{{ gen }}" id="gender" name="gender" >
            {% endfor %}
        </div>
        <div class="form-group">
            {% for hobby in hobbies %}
            <label for="hobby_list" >{{ hobby }}</label>
            <input type="checkbox" value="{{ hobby }}" name="hobby_list[]">
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="comment">Comment (optional):</label>
            <textarea name="comment" id="comment" class="form-control"></textarea>
        </div> 
        <button class="btn btn-primary">Submit</button>
    </form>
</body>

</html>